{% extends 'play_together/base.html' %}

{% block title %}Change games{% endblock %}
{% block content %}
  <div class="row">
    <h2 class="col">Add a new game</h2>
  </div>
  <div class="row">
    <div class="col">
      <form method="post" action=".">
        <div class="form-control-wrapper form-col-wrapper form-check">
          {% csrf_token %}
          <div class="form-group">{{ form.name.label_tag }}{{ form.name }}</div>
          <div class="form-group">{{ form.price.label_tag }}{{ form.price }}</div>
          <div class="form-group">{{ form.available_on.label_tag }}{{ form.available_on }}</div>
          <div class="form-group">{{ form.multiplayer_count.label_tag }}{{ form.multiplayer_count }}</div>
          <div class="form-group">{{ form.crossplay_support.label_tag }}{{ form.crossplay_support }}</div>
          <div class="row align-items-center">
            <div class="col-auto">{{ form.add_to_your_games.label_tag }}</div>
            <div class="col-auto">{{ form.add_to_your_games }}</div>
          </div>
          {{ form.success_redirect }}
          <input type="submit" value="Submit" class="btn btn-success">
        </div>
      </form>
    </div>
  </div>
{% endblock %}