{% extends 'play_together/base.html' %}

{% block title %}Change games{% endblock %}
{% block content %}
  <div class="row">
    <h2 class="col">Details for {{ game.name }}</h2>
  </div>
  <div class="row my-3">
    <div class="col-auto">Price:</div><div class="col-auto">{{ game.price }}€</div>
  </div>
  <div class="row my-3">
    <div class="col-auto">Available on:</div><div class="col-auto">
    {% for console in game.available_on.all %}
      <img src="{{ console.icon.url }}" alt="{{ console.name }}">
    {% endfor %}
   </div>
  </div>
  <div class="row my-3">
    <div class="col-auto">Multiplayer Count:</div><div class="col-auto">{{ game.multiplayer_count }}</div>
  </div>
  <div class="row my-3">
    <div class="col-auto">Crossplay:</div><div class="col-auto">{{ game.crossplay_support }}</div>
  </div>
  <div class="row my-3">
    <div class="col-auto">Comment:</div><div class="col-auto">{{ game.comment|linebreaks }}</div>
  </div>
  <a class="btn btn-secondary" href="{% url 'play_together:game-change' game.pk %}">
    Change Info
  </a>
{% endblock %}