{% extends "play_together/base.html" %}

{% block title %}Group: {{ group.name }}{% endblock %}

{% block content %}
    <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
          <h2>{{ group.name }}</h2>
        </div>
      </div>
      <hr>
      <div class="row">
        <h4 class="col-auto">Games list</h4>
      </div>
      <div class="row">
        <div class="col">

          {% include 'play_together/group_components/group_table.html' %}

          <form action="{% url 'play_together:group-game-add' group.pk %}" method="POST">
            {% csrf_token %}
            {% csrf_token %}
            <div class="form-control-wrapper form-col-wrapper">
              <div class="form-group row align-items-center">
                <div class="col-auto"><label for="toggle_game_id">Add a game to your list:</label></div>
                <div class="col-auto">{{ add_game_form.toggle_game }}</div>
                <div class="col-auto">
                  <input type="submit" value="Add" class="btn btn-success">
                </div>
                <div class="w-100 my-2 d-xl-none"></div>
                <div class="col">
                  Could not find the game you're looking for? Add one
                  <a class="btn btn-primary"
                     href="{% url 'play_together:game-add' %}?success_redirect={% url 'play_together:group-detail' group.pk %}">
                    Add one </a>
                </div>
              </div>
            </div>
          </form>
          <div class="row">

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
