{% extends "play_together/base.html" %}

{% load static %}
{% load crispy_forms_filters %}

{% block title %}Profile Page{% endblock %}

{% block content %}
  {% csrf_token %}

  {% if greet %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      Hello there, <strong>{{ player.user.username }}</strong> :)
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endif %}

  <div class="row">
    <h2 class="col">Your Groups</h2>
  </div>
  <div class="card-deck">
    {% for group in player.playergroup_set.all %}
      <a href="{% url 'play_together:group-detail' group.id %}" class="card-link">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ group.name }}</h5>
            <p>{% for player in group.players.all %}
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                   class="bi bi-person-fill" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              </svg>
            {% endfor %}
            </p>
            <p class="card-text"><small class="text-muted">Last updated -1 sec ago</small></p>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
  <hr/>

  <div class="row mt-3">
    <h2 class="col-auto">Your Consoles</h2>
  </div>
  {% if not player.consoles.exists %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
      It is quite empty here. Would you mind adding consoles you own? Contact admins if your console is missing.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endif %}
  <div class="row mt-1">
    {% for console in consoles %}
      <div class="col-auto">
        <button data-class-true="btn-success" data-class-false="btn-outline-secondary"
                data-name="{{ console.name }}"
                data-server-url="{% url 'play_together:player-toggle-console' console.id %}"
                data-error-url="{% url 'play_together:toggle-error' %}?next={{ request.path }}"
                data-login-url="{% url 'login' %}?next={{ request.path }}"
           {% if console in player.consoles.all %} data-current-state="true" class="btn btn-success btn-toggle"
           {% else %} data-current-state="false" class="btn btn-outline-secondary btn-toggle"
           {% endif %} onclick="pressToggleButton(this); updateGameDisabledList(this)">
          <img src="{{ console.icon.url }}" alt="{{ console.name }}">
        </button>
      </div>
    {% endfor %}
  </div>
  <div class="row mt-2">
    <small class="col-auto">(Click to add/remove a console)</small>
  </div>
  <hr/>

  <div class="row mt-3">
    <h2 class="col-auto">Your Games</h2>
  </div>
  {% if not player.games.exists %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
      It is quite empty here. Would you mind adding games you own?
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endif %}
  <div class="row mt-1">
    {% for owned_game in player.ownedgame_set.all %}
      <div class="col col-lg-8">
        <div class="card">
          <div class="card-body">
            <div class="row align-items-center">
              <form action="{% url 'play_together:player-game-remove' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="toggle_game" value="{{ owned_game.game.id }}">
                <button type="submit" class="close btn-delete" aria-label="Remove">
                  <span aria-hidden="true">&times;</span>
                </button>
              </form>
              <strong class="col">{{ owned_game.game.name }}</strong>
              {% for console in owned_game.game.available_on.all %}
                <div class="col-auto align-self-end">
                  <button data-class-true="btn-success" data-class-false="btn-outline-secondary"
                          data-console-name="{{ console.name }}"
                          data-server-url="{% url 'play_together:player-game-toggle-console' owned_game.game.id console.id %}"
                          data-error-url="{% url 'play_together:toggle-error' %}?next={{ request.path }}"
                          data-login-url="{% url 'login' %}?next={{ request.path }}"
                     {% if console in owned_game.consoles.all %} data-current-state="true"
                          class="btn btn-success btn-toggle"
                     {% else %} data-current-state="false" class="btn btn-outline-secondary btn-toggle"
                     {% endif %}
                          onclick="pressToggleButton(this)"
                     {% if not console in player.consoles.all %} disabled=""
                     {% endif %}>
                    <img src="{{ console.icon.url }}" alt="{{ console.name }}">
                  </button>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="row mt-1">
    <div class="col">
      <form method="POST" action="{% url 'play_together:player-game-add' %}">
        {% csrf_token %}
        {{ add_game_form|crispy }}
        <input type="submit" value="Add" class="btn btn-success">
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col">
      Could not find the game you're looking for? Add one <a href="{% url 'play_together:game-add' %}">here</a>.
    </div>
  </div>

  {% block script %}
    <script src="{% static 'play_together/toggle-button.js' %}"></script>
  {% endblock %}
{% endblock %}
