{% extends "play_together/base.html" %}

{% block title %}Profile Page{% endblock %}

{% block content %}
  <div class="alert alert-danger" role="alert">
    <strong>OOPS!</strong> Something went wrong while editing information. Your latest edits might have failed.
  </div>
  <div class="row">
  <div class="col">
    <p>You probably edited information in two different tabs.</p>
    <p>Information on your page was outdated and so a refresh was forced like this.</p>
    <p>After refreshing all other tabs, you can return to the page you just edited here:</p>
    <a href="{{ next }}">{{ next }}</a>
  </div>
  </div>
{% endblock %}
